<% provide(:title, 'atwork employee') %>

<% if current_user.admin? %>
  <h1>出勤中社員一覧</h1>
  
  <div>
    <table class="table table-bordered table-condensed table-hover" id="atwork-users">
      <thead>
        <tr>
          <th colspan="1">社員番号</th>
          <th colspan="1">名前</th>
        </tr>
      </thead>

      <% ary = [@atwork_users_employee_number, @atwork_users].transpose %>      
      
      <tbody>
        <% ary.each do |key, value| %>
          <tr>
            <td colspan="1"><%= sprintf("%04d",key) %></td>
            <td colspan="1"><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>